.mainContainer {
  width: 100vw;
  height: 100vh;
  display : flex ; 
  justify-content: center;
  background-color: white;
  align-items: center;
}
.colorful {
  width: 31.4px;
  height: 31.4px;
  border-radius: 50%;
  background: #ffd82e;
  transform-origin: top;
  display: grid;
  animation: colorful-3vgb5t 1s infinite linear;
}

.colorful::before,
.colorful::after {
  content: "";
  grid-area: 1/1;
  background: #ff6761;
  border-radius: 50%;
  transform-origin: top;
  animation: inherit;
  animation-name: colorful-k94uub;
}

.colorful::after {
  background: #474bff;
  --s: 180deg;
}

@keyframes colorful-3vgb5t {

  0%,
  20% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes colorful-k94uub {
  50% {
    transform: rotate(var(--s, 90deg));
  }

  100% {
    transform: rotate(0);
  }
}

@keyframes dots-hw4mnxmd {
  25% {
    background-position: 0 50%, 50% 0, 50% 100%, 100% 0, 100% 100%;
  }

  50% {
    background-position: 100% 50%, 0 0, 0 100%, 50% 0, 50% 100%;
  }

  75%,
  100% {
    background-position: 100% 50%, 0 calc(50% - 3.4px), 0 calc(50% + 3.4px), 50% calc(50% - 3.4px), 50% calc(50% + 3.4px);
  }
}